@model IEnumerable<RecipesBook.Models.Recipes>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
<head>

</head>
<body>

    <div id="content">
        <div id="mainContent">

            <p>

                @using (Html.BeginForm())
            {
                    <div class="form-group" role="form">
                        Recipe by: @Html.DropDownList("recipeAuthor", "All")
                        Type: @Html.DropDownList("recipeType", "All")
                        Category: @Html.DropDownList("recipeCategory", "All")

                        <br />

                        <!-- <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>-->
                    </div>
                }
                </p>


                @foreach (var item in Model)
            {
                    <section>
                        <article class="blogPost">
                            <header>
                                <h2>@item.recipeName</h2>
                                <p>Recipe by <a>@item.recipeAuthor</a> </p>
                            </header>
                            <div>
                                <p> <b>Ingredients </b></p>
                                <p> @item.recipesIngredients </p>
                                <p> <b>Direction </b></p>
                                <p>@item.theRecipe</p>
                                <img src="@item.recipeImage" />
                                @if (@item.recipeVideo != null)
                                {
                                    <video controls="controls">
                                        <source src="@item.recipeVideo" />
                                    </video>
                                }

                            </div>
                        </article>
                        <br />
                        <a href='@Url.Action("AddLike", "Recipes",new { id = item.RecipesID })'>
                            <img src='@Url.Content("~/Content/images/2764.png")' />
                        </a>
                        @item.countLike

                    </section>
                    <section id="@item.RecipesID">
                        <h3>Comments</h3>
                        @foreach (var comment in item.commentList)
                        {
                            <h3>maayan</h3>
                            <div>
                                <article id="comments">
                                    <header>
                                        <h4>@comment.commentTitle</h4>
                                        <p id="details">
                                            by: <a>@comment.writerName</a>
                                            <br><a>@comment.content</a><br>
                                        </p>
                                    </header>

                                </article>
                            </div>

                        }
                    </section>

                    using (Html.BeginForm("AddComment", "Recipes"))
                    {
                        @Html.AntiForgeryToken()
                        <div id="respond">
                            <h3>Recipe a comment</h3>
                            <form action="Recipes_comment.php" method="post" id="commentform">
                                @Html.Hidden("RecipeID", item.RecipesID)
                                <p>
                                    <label for="title" class="required">Title</label>
                                    <input name="commentTitle" id="commentTitle" type="text" required />
                                </p>
                                <p>
                                    <label for="name" class="required">Name</label>
                                    <input name="writerName" id="writerName" type="text" required />
                                </p>
                                <p>
                                    <label for="comment">Comment</label>
                                    <textarea name="content" id="content" required></textarea>
                                </p>
                                <p><input type="submit" value="Add" /></p>
                            </form>
                        </div>
                    }
                    <hr />
                }
            </div>
        </div>
    </body>
</html>
