@model IEnumerable<RecipesBook.Models.Recipes>

@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["AdminName"] != null)
{
    <text>
        <h2>
            Welcome @Session["AdminName"].ToString()
        </h2>
    </text>
}


<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.recipeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.FullName)
        </th>
        <th>
            Options
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.recipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Recipes", new { id = item.RecipesID }, null) |
                @Html.ActionLink("Details", "Details", "Recipes", new { id = item.RecipesID }, null) |
                @Html.ActionLink("Delete", "Delete", "Recipes", new { id = item.RecipesID }, null) |
                @Html.ActionLink("Comments", "Comments", "Recipes", new { id = item.RecipesID }, null)


            </td>
        </tr>
    }

</table>
<br/>
<br/>

<div id="chartID"></div>




